/* CSS for Sous Github Pages */
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  padding: 0;
}

html {
  height: 0;
}
/* 
.nav__repository {
  background-color: #0594cb;
  color: white;
  padding: 2vh 2vh;
  border-radius: 10%;
  border: none;
}

.nav__grid {
  width: 100vw;
}

.nav {
  background-color: #0a1922;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: auto;
}

.nav__text {
  padding: 0;
  margin: 0;
  width: 100vw;
}

.nav__repository:hover {
  scale: 1.05;
  transition: cubic-bezier(1, 0, 0, 1);
  transition-duration: 0.2s;
} */
