/* CSS for Sous Github Pages 
Most CSS should be done via tailwind which is installed but must be pre-deployed with:
> npm run build
in terminal. */
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  padding: 0;
}

html {
  height: 0;
}

.nav__repository {
  border-radius: 10%;
  border: none;
}

.nav__grid {
  width: 100vw;
}

.nav {
  color: white;
}

.nav__text {
  padding: 0;
  margin: 0;
  width: 100vw;
}

.nav__repository:hover {
  scale: 1.05;
  transition: cubic-bezier(1, 0, 0, 1);
  transition-duration: 0.2s;
}

.slide {
  height: 100vh;
}

@media screen and (max-width: 690px) {
  .slide {
    height: 90vh;
  }
}

@media screen and (max-width: 640px) {
  .slide {
    height: 60vh;
  }
}
